ion-footer {
  --ion-background-color: var(--custom-primary);
  &::before {
    background-image: none;
  }
}
ion-tab-button.selected {
  &::part(native) {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
ion-tab-button {
  --color: white;
  --ripple-color: white;
  display: flex;
  &::part(native) {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }
}
