.main-header {
  &::after {
    background-image: none;
  }
}
ion-toolbar {
  --color: #ffffff;
  --background: var(--custom-primary);
}
.notification-wrapper {
  .badge {
    position: absolute;
    top: 11px;
    right: 13px;
    color: crimson;
    z-index: 1;
    font-size: 11px;
    z-index: 1;
  }
  .notify-icon {
    position: relative;
    font-size: 26px;
    // color: $primary-color;
    margin-right: 10px;
  }
}
