@import "/src/theme/variables";
@import "/src/var";
.notify-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
}
ion-list-header {
  border-bottom: 1px solid rgba($primary-color, 0.2);
}
.closeModal {
  border: 1px solid crimson;
  border-radius: 5px;
}
.info-txt {
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0 15px;
  margin: 10px 0 0 0;
  display: inline-block;
  color: $primary-color;
}
.spinner {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  ion-img {
    width: 80%;
    height: auto;
  }
}
.notFoundNotify {
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  ion-img {
    width: 80%;
    height: auto;
  }
}
