<ion-content>
  <ion-list-header>
    <ion-label class="notify-title">নতুন পোস্ট সমূহ</ion-label>
    <ion-button class="closeModal" color="danger" (click)="onCloseModal()"
      >বন্ধ করুন <ion-icon name="close-outline"></ion-icon
    ></ion-button>
  </ion-list-header>
  <!-- End Modal Header Part -->
  <!-- List of Text Items -->
  <ion-list>
    <ion-item>
      <ion-label>Pokémon Yellow</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mega Man X</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Legend of Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pac-Man</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
