<app-header title="About Us"></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>What about us?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A facilis
        maiores, fugit rem esse accusantium eveniet blanditiis nostrum?
        Quibusdam nemo illum in a aspernatur laborum ipsam possimus nulla saepe
        dignissimos?
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
