<app-header title="About Us"></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>হানাফী ফিকহ (Hanafi Fiqh)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      হানাফি মাযহাবের ভিত্তি হলেন দুই জলিলুল কদর সাহাবী ( আব্দুল্লাহ ইবনে মাসউদ
      রাঃ ) ও ( আলী ইবনে আবু তালিব রাঃ )। কুফার ফিকহের রূহ হল এই দুই সাহাবী। আর
      এই রূহ একটা কাঠামোগত রূপ পেয়েছে ঈমামুল আযম আবু হানিফা রহিমাহুল্লাহর
      মাযহাবের মাধ্যমে। জ্ঞানের দরজা আলী রাদিয়াল্লাহু আনহু আর ফকিহ শিরোমনি
      আব্দুল্লাহ ইবনে মাসউদ রাদিয়াল্লাহু আনহুর ইলম যদি একত্রে বুকে ধারন করে ধন্য
      হতে চান হানাফি মাযহাবের দুনিয়ায় আপনাকে আহলান সাহলান।
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer></app-footer>
