<app-header title="সাম্প্রতিক পোস্ট"></app-header>

<ion-content class="ion-padding">
  <ion-segment (ionChange)="segmentChanged($event)" value="post" color="medium">
    <ion-segment-button value="post">
      <ion-label>নতুন পোস্ট</ion-label>
    </ion-segment-button>
    <ion-segment-button value="qns">
      <ion-label>প্রশ্ন উত্তরঃ</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- <app-home-slider></app-home-slider> -->

  <app-home-post-list *ngIf="showNewPosts; else qns"></app-home-post-list>
  <ng-template #qns>
    <app-home-qns-list></app-home-qns-list>
  </ng-template>
</ion-content>

<app-footer></app-footer>
