@import "/src/var";

ion-card.md {
  box-shadow: 0 5px 25px -7px rgba(0, 0, 0, 0.2);
}
ion-card-title {
  padding: 10px;
  color: $primary-color;
}
.single-post {
  .content {
    p {
      margin-bottom: 25px !important;
    }
  }
}
.card-content-md p {
  margin-bottom: 25px !important;
}
