@import "/src/var";

.post-title {
  display: block;
  font-weight: 500;
  color: rgba($primary-color, 0.8);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 5px;
}
time {
  display: flex;
  align-items: center;
  color: rgba($primary-color, 0.6);
  ion-icon {
    font-size: 18px;
    margin-right: 10px;
  }
  font-size: 16px;
}
